<div class="row">
  <div class="col-md-3">
    <app-leftsidebar></app-leftsidebar>
  </div>
  <div class="col-md-9">
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="card-deck">
            <ng-container *ngFor="let product of products;let i= index">
              <div class="card col-4 bg-light" *ngIf="i>=page*numberPerPage && i<(page+1)*numberPerPage"  >
                <div class="card-body pt-0" >
                  <app-product-card [product]="product" routerLink="{{product.id}}"></app-product-card>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              <li class="page-item">
                <a class="page-link" (click)="prec()" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let pageFromOne of pagesFromOne"><a class="page-link" (click)="selectPage(pageFromOne-1)">{{pageFromOne}}</a></li>
              <li class="page-item">
                <a class="page-link" (click)="next()" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </section>
  </div>
</div>
