h3 {
  margin-bottom: 10px;
}

label {
  display: block;
}

textarea {
  width: 100%;
  height: 100px;
}

.star-rating {
  font-size: 25px;
  cursor: pointer;
}

.star-rating .star {
  color: gray;
}

.star-rating .star.rated {
  color: gold;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}