<a href="compose.html" class="btn btn-primary btn-block mb-3">Products</a>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Categories</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <ul class="nav nav-pills flex-column">
      <li *ngFor="let category of categories; let i = index" class="nav-item" [ngClass]="{'active':i === 0}">
        <a (click)="filterByCategory(category)" class="nav-link">
          {{category}}
          <span *ngIf="catCount[categories.indexOf(category)]> 0" class="badge bg-primary float-right">{{catCount[categories.indexOf(category)]}}</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Brands</h3>
    
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <ul class="nav nav-pills flex-column">
      <li *ngFor="let brand of categories; let i = index" class="nav-item" [class.active]="i === 0">
        <a (click)="filterByBrand(brand)" class="nav-link">
          {{brand}}
          <span *ngIf="brCount[categories.indexOf(brand)]> 0" class="badge bg-primary float-right">{{brCount[categories.indexOf(brand)]}}</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
