<aside class="control-sidebar control-sidebar-dark">
  <div class="p-3">
    <h5>Settings</h5>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#general-settings">General Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#payment-settings">Payment Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#shipping-settings">Shipping Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#notification-settings">Notification Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#security-settings">Security Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </li>
    </ul>
    <div class="tab-content mt-2">
      <div class="tab-pane fade show active" id="general-settings">
        <p>Sidebar content for general settings goes here.</p>
      </div>
      <div class="tab-pane fade" id="payment-settings">
        <p>Sidebar content for payment settings goes here.</p>
      </div>
      <div class="tab-pane fade" id="shipping-settings">
        <p>Sidebar content for shipping settings goes here.</p>
      </div>
      <div class="tab-pane fade" id="notification-settings">
        <p>Sidebar content for notification settings goes here.</p>
      </div>
      <div class="tab-pane fade" id="security-settings">
        <p>Sidebar content for security settings goes here.</p>
      </div>
      <div class="tab-pane fade" id="logout-settings">
        <p>Sidebar content for logout settings goes here.</p>
      </div>
    </div>
  </div>
</aside>
