<div class="container-fluid m-0 p-0 ">
    <div class="row m-0 p-0 text-center h-100">

        <div class="col-md-6 m-auto">
          <div class="container p-4">
            <img src="./assets/image/logo.png" height="200px">
          </div>
          <div class="container p-4">
              <div class="row text-center">
                  <div class="col-6 choice border-danger" [ngClass]="{'border-bottom':isLogin()}">
                      <a routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">Connexion</a>
                  </div>
                  <div class="col-6 choice border-danger" [ngClass]="{'border-bottom':!isLogin()}">
                      <a routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">Inscription</a>
                  </div>
              </div>
              <div class="row" >
                  <div class="card">
                      <div class="card-body">
                          <router-outlet></router-outlet>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-0 col-md-6 m-0" *ngIf="md()">
          <div class="container-fluid p-0 m-0">
            <div class="row text-center align-items-center bg-image h-100 p-0 m-0" style="background-image: url('../../assets/image/auth_rukcom.jpg');">
              <div class="col text-light" >
                  <h1>RukCom</h1>
              </div>
            </div>
          </div>

        </div>
    </div>
</div>

