$primary-color:rgb(171, 104, 123);

.container-fluid {
  height: 100vh; /* Set container height to 100% of the viewport height */
}


.bg-image {
  background-color:$primary-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px; /* Adjust the height as needed */
}