
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Edit User Profile</h1>
      <hr>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Username</label>
              <input type="text" class="form-control" id="name" name="username"  [(ngModel)]="user.username">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
            </div>
            <ng-container *ngIf="userShippingAddress">
              <div class="mb-3">
                <label for="firstName" class="form-label">FirstName</label>
                <input type="tel" class="form-control" id="firstName" name="firstName" [(ngModel)]="userShippingAddress.firstName" >
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">LastName</label>
                <input type="tel" class="form-control" id="lastName" name="lastName" [(ngModel)]="userShippingAddress.lastName" >
              </div>
              <div class="mb-3">
                <label for="phoneNumber" class="form-label">PhoneNumber</label>
                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="userShippingAddress.phoneNumber" >
              </div>
              <div class="mb-3">
                <label for="streetAddress" class="form-label">StreetAddress</label>
                <input type="tel" class="form-control" id="streetAddress" name="streetAddress" [(ngModel)]="userShippingAddress.streetAddress" >
              </div>
              <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="tel" class="form-control" id="city" name="city" [(ngModel)]="userShippingAddress.city" >
              </div>
              <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <input type="tel" class="form-control" id="state" name="state" [(ngModel)]="userShippingAddress.state" >
              </div>
              <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="tel" class="form-control" id="country" name="country" [(ngModel)]="userShippingAddress.country" >
              </div>
            </ng-container>

            <button [disabled]="loading" class="btn btn-primary" type="submit" (click)="updateProfile()">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Mettre à jour
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
