<div class="row">
  <div class="col-7">
    <h2>{{ product.name }}</h2>
    <p class="">{{ product.description }}</p>
    <hr>
  </div>
  <div class="col-5 text-center">
    <img src="/api/{{product.imgpath }}" alt="{{ product.name }}" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="rating">
      <div *ngIf="product.rating;else noRating">
        <i *ngFor="let star of general.stars" class="fa filled-gold" [ngClass]="general.starClass(product.rating,star)"></i>
        <span>({{product.numRatings}})</span>
      </div>
      <ng-template #noRating>
        <i *ngFor="let star of general.stars" class="fa filled-gold" [ngClass]="general.starClass(0,star)"></i>
        <span>({{0}})</span>
      </ng-template>
    </div>
  <div class="col-12">
    <div class="price">  
        <span class="lead font-weight-bold">{{ product.price }}</span> MAD
    </div>
    <div *ngIf="product.discount" class="discount"><span class="bg-success">Save {{ product.discount }} MAD</span></div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-6"><span class="bg-info">{{ product.category }}</span></div>
      <div class="col-6"><span class="bg-info">{{ product.brand }}</span></div>
    </div> 
  </div>
</div>
