
  <app-nav (cartVisbilityChanged)="handleVisibilityCartChange($event)"></app-nav>
  <div class="container">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
  <app-cart (cartVisbilityChanged)="handleVisibilityCartChange($event)"></app-cart>
  <a id="fake-cart-item" class="nav-link" style="visibility: hidden;" data-widget="control-sidebar" data-slide="true" href="#"><i class="fas fa-th-large"></i></a>

  <input type="checkbox" id="check">
  <label class="chat-btn btn btn-primary" for="check">
    <i class="fa fa-commenting-o comment"></i>
    <i class="fa fa-close close"></i>
  </label>
  <div class="wrap">
    <app-help [simply]="true"></app-help>
  </div>
