<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="./assets/image/logo.png" alt="RukCom Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">RukCom</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="./assets/image/logo.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.username}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-close">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-box-open"></i>
            <p>
              Products
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink] routerLinkActive="active" class="nav-link" data-toggle="modal" data-target="#AddModal" >
                <i class="fas fa-plus-circle nav-icon"></i>
                <p>Add Product</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Products</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview menu-close">
          <a [routerLink] routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-cube"></i>
            <p>
              Items
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a data-toggle="modal" data-target="#BrandModal" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Brands</p>
              </a>
            </li>
            <li class="nav-item">
              <a data-toggle="modal" data-target="#CategoryModal" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Categories</p>
              </a>
            </li>
          </ul>
        </li>


        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Simple Link
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<div class="modal fade" id="BrandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Brand</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h1>Brand List</h1>
          <hr>

          <!-- Display brand list -->
          <div *ngIf="enums.brands.length > 0">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let brand of enums.brands">
                <div class="row justify-content-between">
                  <div class="col">{{ brand }}</div>
                  <div class="col" (click)="removeBrand(brand)"><i class="fas fa-trash "></i></div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Display message if brand list is empty -->
          <div *ngIf="enums.brands.length === 0">
            <p>No brands available.</p>
          </div>

          <!-- Add new brand form -->
          <h2>Add New Brand</h2>
          <form [formGroup]="brandForm">
            <div class="form-group">
              <label for="brandName">Brand Name:</label>
              <input type="text" id="brandName" class="form-control"  formControlName="name" required>
            </div>
            <button type="button" class="btn btn-primary" (click)="addBrand()">Add Brand</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h1>Category List</h1>
          <hr>

          <!-- Display category list -->
          <div *ngIf="enums.categories.length > 0">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let category of enums.categories">
                <div class="row justify-content-between">
                  <div class="col">{{ category }}</div>
                  <div class="col" (click)="removeCategory(category)"><i class="fas fa-trash"></i></div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Display message if category list is empty -->
          <div *ngIf="enums.categories.length === 0">
            <p>No categories available.</p>
          </div>

          <!-- Add new category form -->
          <h2>Add New Category</h2>
          <form [formGroup]="categoryForm">
            <div class="form-group">
              <label for="categoryName">Category Name:</label>
              <input type="text" id="categoryName" class="form-control" formControlName="name"  required>
            </div>
            <button type="button" class="btn btn-primary" (click)="addCategory()">Add Category</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
